# Dependencies
node_modules/

# Build
dist/

# Environment
.env

# System
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# App Data - Ignore all content in these directories
inputs/
outputs/
archive/
processing/
errors/
local_inputs/
input/
archive_articles/
local_articles/

# Editor
.vscode/
.idea/
.history/
